
[submodule "efgl/vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "efgl/vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "efgl/vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy
