
[submodule "efgl/vendor/GLFW"]
	path = efgl/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "efgl/vendor/glm"]
	path = efgl/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "efgl/vendor/assimp"]
	path = efgl/vendor/assimp
	url = https://github.com/AminAliari/assimp.git
